# Backend settings
PORT=3006
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=banca-digital

# Opcional: URL completa de MySQL (para Railway)
# MYSQL_URL=mysql://user:password@host:port/database

# JWT secret
JWT_SECRET=secreto123
